In [1]:
def percentage(part, whole):
    Percentage = 100 * float(part)/float(whole)
    return str(Percentage) + "%"

In [2]:
from pyirr import read_data, kappam_fleiss

# Official Example
data = read_data("anxiety")  # loads example data
kappam_fleiss(data, detail=True)

==================================================
            Fleiss` Kappa for m Raters
==================================================
Subjects = 20
  Raters = 3
   Kappa = -0.041

       z = -0.634
 p-value = 0.526

   Kappa      z  p.value
1 -0.080 -0.620    0.535
2 -0.023 -0.176    0.860
3 -0.111 -0.861    0.389
4  0.135  1.043    0.297
5 -0.071 -0.553    0.580
6 -0.071 -0.553    0.580
==================================================

# Artwork KAPPA, Percentage of agreetment and Randolph score : 5 reviewers

In [3]:
import pandas as pd

df = pd.read_csv("/Users/danielafe/Desktop/ISWSvOCANS/Artwork Numbers Fleiss Kappa Step by Step - Copia de RawData.csv")
df = df.drop('Rater 6 (Script)', axis=1)
df

,Rater 1 (Heng),Rater 2 (Anna),Rater 3 (Alexane),Rater 4 (Antonis),Rater 5 (Dani)
0,1,1,1,1,1
1,1,1,1,1,1
2,1,1,1,1,1
3,1,1,0,1,1
4,1,1,1,1,1
...,...,...,...,...,...
95,1,1,1,1,1
96,1,1,1,1,1
97,1,1,1,1,1
98,1,1,1,1,1
99,1,1,1,1,1

In [4]:
import numpy as np
import statsmodels.api as sm
from statsmodels.regression.mixed_linear_model import VCSpec
from statsmodels.stats.inter_rater import fleiss_kappa
from statsmodels.stats.inter_rater import aggregate_raters

import pandas as pd


list_agreetments = list()
for (index, column) in enumerate(df):
    #print (index, np.asarray(df[column]))
    for (index2, column_other) in enumerate(df):
        if (index != index2) and (index2  > index ):
            #print (index, np.asarray(df[column]))
            #print (index2, np.asarray(df[column_other]))
            _agrets = []
            for element1, element2 in  zip(df[column],df[column_other]):
                #print(element1, element2)
                if element1 == element2:
                    _agrets.append(1)
                else:
                    _agrets.append(0)
            #print(_agrets)
            list_agreetments.append(_agrets)
                                           
#    print("*"*50)
 

#for _agrets in list_agreetments:
#    print(_agrets)
#    print(sum(_agrets))

#print(list_agreetments)
import numpy as np
all_agrett = (np.array(list_agreetments) ).T
_mean = list()
for row in all_agrett:
    #print(row)
    value = sum(row) / len(row)
    _mean.append(value)

print("Percentage agretment: ",sum(_mean)/len(_mean))


giro = np.array(df.values).transpose()
giro = df.values#np.array(table) .transpose()
print("Randolph Kappa: ",fleiss_kappa(aggregate_raters(giro)[0], method='randolph')) # randolph fleiss
kappam_fleiss(df, detail=True)

Percentage agretment:  0.9540000000000001
Randolph Kappa:  0.9080000000000001

==================================================
            Fleiss` Kappa for m Raters
==================================================
Subjects = 100
  Raters = 5
   Kappa = 0.018

       z = 0.572
 p-value = 0.567

   Kappa      z  p.value
0  0.018  0.572    0.567
1  0.018  0.572    0.567
==================================================

# Artist KAPPA, Percentage of agreetment and Randolph score : 5 reviewers reviewers

In [5]:
import pandas as pd

df = pd.read_csv("/Users/danielafe/Desktop/ISWSvOCANS/Artist Fleis Kappa - Hoja 1-4.csv")
df = df.drop('Rater 6 (Script)', axis=1)
df

,Rater 1 (Heng),Rater 2 (Anna),Rater 3 (Alexane),Rater 4 (Antonis),Rater 5 (Dani)
0,1,1,1,1,1
1,1,1,1,1,1
2,1,1,1,1,1
3,1,0,1,1,1
4,1,1,1,1,1
...,...,...,...,...,...
95,1,1,1,1,1
96,0,0,0,0,1
97,1,1,1,1,1
98,1,1,1,1,1
99,0,0,0,0,0

In [6]:
list_agreetments = list()
for (index, column) in enumerate(df):
    #print (index, np.asarray(df[column]))
    for (index2, column_other) in enumerate(df):
        if (index != index2) and (index2  > index ):
            #print (index, np.asarray(df[column]))
            #print (index2, np.asarray(df[column_other]))
            _agrets = []
            for element1, element2 in  zip(df[column],df[column_other]):
                #print(element1, element2)
                if element1 == element2:
                    _agrets.append(1)
                else:
                    _agrets.append(0)
            #print(_agrets)
            list_agreetments.append(_agrets)
                                           
#    print("*"*50)
 

#for _agrets in list_agreetments:
#    print(_agrets)
#    print(sum(_agrets))

#print(list_agreetments)
import numpy as np
all_agrett = (np.array(list_agreetments) ).T
_mean = list()
for row in all_agrett:
    #print(row)
    value = sum(row) / len(row)
    _mean.append(value)

print("Percentage agretment: ",sum(_mean)/len(_mean))


giro = np.array(df.values).transpose()
giro = df.values#np.array(table) .transpose()
print("Randolph Kappa: ",fleiss_kappa(aggregate_raters(giro)[0], method='randolph')) # randolph fleiss
kappam_fleiss(df, detail=True)

Percentage agretment:  0.9479999999999998
Randolph Kappa:  0.8959999999999997

==================================================
            Fleiss` Kappa for m Raters
==================================================
Subjects = 100
  Raters = 5
   Kappa = 0.881

       z = 27.844
 p-value = 0.000

   Kappa       z  p.value
0  0.881  27.844      0.0
1  0.881  27.844      0.0
==================================================